﻿@{
    ViewBag.Title = "I";
}
<!DOCTYPE html>
<html lang="en">
<h2>İREM KAPLAN B140910004</h2>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
    
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <br />
                <br />
                <br />
                <p class="lead">CANAVAR MENÜ</p>
                <div class="list-group">
                    @Html.ActionLink("Şiir Kitapları","Kategori","Home")
                    <br />
                    @Html.ActionLink("Romanlar", "Kategori", "Home")
                    <br />
                    @Html.ActionLink("Tarih/Bilgi", "Kategori", "Home")
                    <br />
                    @Html.ActionLink("Kişisel Gelişim", "Kategori", "Home")
                    <br />
                </div>
            </div>
            <div class="col-md-9">
                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="~/img/cekilis.png" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="~/img/set.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="~/img/set1.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/nutuk.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">9.90 ₺</h4>
                                <h4>
                                    <a href="#">NUTUK</a>
                                </h4>
                                <p>Mustafa Kemal Atatürk <br /><a target="_blank" href="">Devamı için tıklayın</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/harry.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">15₺</h4>
                                <h4>
                                    <a href="#">HARRY POTTER </a>
                                </h4>
                              
                                <p>HARRY POTTER ve LANETLİ ÇOCUK<br /><a target="_blank" href="">Devamı için tıklayın</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/oguz.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">23₺</h4>
                                <h4>
                                    <a href="#">TEHLİKELİ OYUN</a>
                                </h4>
                                <p>OĞUZ ATAY<br /><a target="_blank" href="">Devamı için tıklayın</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    
              
                </div>
                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/sabahattin.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">14.90 ₺</h4>
                                <h4>
                                    <a href="#">KÜRK MANTOLU MADONNA</a>
                                </h4>
                                <p>Sabahattin Ali <br /><a target="_blank" href="">Devamı için tıklayın</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/portakal.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">15₺</h4>
                                <h4>
                                    <a href="#">Şeker Portakalı </a>
                                </h4>

                                <p>José Mauro de Vasconcelos<br /><a target="_blank" href="">Devamı için tıklayın</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/KUCUK.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">11₺</h4>
                                <h4>
                                    <a href="#">KÜÇÜK PRENS</a>
                                </h4>
                                <p>Antoine de Saint-Exupéry<br /><a target="_blank" href="">Devamı için tıklayın</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/fedai.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">19.90 ₺</h4>
                                <h4>
                                    <a href="#">FEDAİLER</a>
                                </h4>
                                <p>Mert Adaş <br /><a target="_blank" href="">Devamı için tıklayın</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/odul.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">13₺</h4>
                                <h4>
                                    <a href="#">BENİ ÖDÜLLE CEZALANDIRMA </a>
                                </h4>

                                <p>Özgür Bolat<br /><a target="_blank" href="">Devamı için tıklayın</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/adam.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">27₺</h4>
                                <h4>
                                    <a href="#">ADAM</a>
                                </h4>
                                <p>Yılmaz Özdil<br /><a target="_blank" href="">Devamı için tıklayın</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>